a,
a:visited {
	background: #efdb5a;
	color: #323330;
}
.js-box {
	background: #efdb5a;
	width: 1em;
	height: 1em;
	display: inline-block;
	position: relative;
}
.js-box span {
	font-size: 0.5em;
	color: #323330;
	position: absolute;
	bottom: 0;
	right: 0;
	line-height: 0.7em;
}

.slide.intro {
}
.slide.intro h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 3.5em;
}

.slide.intro h2 {
	font-size: 0.5em;
	transform: translate(0, 22em);
	transition: transform 0.4s ease-in-out;
}
.slide.intro.step-then h2 {
	transform: translate(0, 0);
}

.slide.me li:nth-child(2),
.slide.me li:nth-child(3),
.slide.me li:nth-child(4),
.slide.me li:nth-child(5),
.slide.me li:nth-child(6) {
	visibility: hidden;
}
.slide.me.did-step-2 li:nth-child(2) {
	visibility: visible;
}
.slide.me.did-step-3 li:nth-child(3) {
	visibility: visible;
}
.slide.me.did-step-4 li:nth-child(4) {
	visibility: visible;
}
.slide.me.did-step-5 li:nth-child(5) {
	visibility: visible;
}
.slide.me.did-step-6 li:nth-child(6) {
	visibility: visible;
}
.slide.me .highlight {
	background: #efdb5a;
	color: #323330;
}

.slide.me-pic .content {
	padding: 0;
	text-align: center;
}
.slide.me-pic .logo {
	transform: translate(0, 100vw);
	position: absolute;
	left: 8%;
	top: 50%;
	background: #2f3c5f;
	transition: transform 0.5s ease-in;
}
.slide.me-pic .me {
	display: inline-block;
	height: 100%;
	transition: transform 1s ease-in-out;
}
.slide.me-pic.did-step-zoom-1 .me {
	transform: scale(7) translate(24%, 2%) rotate(-10deg);
}
.slide.me-pic.did-step-zoom-2 .me {
	transform: scale(12) translate(-6%, 18%) rotate(-10deg);
}
.slide.me-pic.did-step-logo .logo {
	transform: scale(1.5);
}

.slide.inspiration,
.slide.wrong,
.slide.not-original {
	background: url('./sourcream.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide.inspiration h1,
.slide.wrong h1,
.slide.not-original {
	font-size: 3.5em;
	text-transform: uppercase;
	-webkit-text-stroke: 2px black;
	text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.slide.break-stuff pre {
	font-size: 0.8em;
}
.slide.break-stuff .demo {
	position: absolute;
	bottom: 3.3em;
	right: 2.5em;
}
.slide.break-stuff-lesson li {
	visibility: hidden;
}
.slide.break-stuff-lesson.did-step-1 .step-1 {
	visibility: visible;
}
.slide.break-stuff-lesson.did-step-2 .step-2 {
	visibility: visible;
}

/* @keyframes atari {
	0% {
		background-position-x: 0%;
		background-position-y: 0%;
	}

	100% {
		background-position-x: 100%;
		background-position-y: 100%;
	}
} */
.slide.atari {
	background: black url('./atari.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;

	/* animation: atari 30s infinite; */
}
.slide.atari .wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
.slide.atari h1 {
	position: absolute;
	right: 0;
	top: 0;
	background: #efdb5a;
	color: #323330;
	display: inline-block;
	padding: 0 0.2em;
	padding-top: 0.2em;
	box-sizing: border-box;
	margin: 0;
	transform: translate(0, -2.7em);
	transition: transform 0.4s ease-out;
	z-index: 2;
}
.slide.atari h2 {
	position: absolute;
	right: 0;
	top: 0;
	color: #efdb5a;
	background: #323330;
	display: inline-block;
	padding: 0 0.2em;
	padding-top: 0.2em;
	box-sizing: border-box;
	margin: 0;
	font-size: 1em;
	z-index: 1;
	opacity: 0;
}
.slide.atari.did-step-h1 h1 {
	transform: translate(0, 0);
}
.slide.atari.did-step-h1 h2 {
	transition: transform 0.4s ease-out;
	transform: translate(0, 0);
}
.slide.atari.did-step-h2 h2 {
	transform: translate(0, 200%);
	opacity: 1;
}

.slide.devo {
	background: black;
}
.slide.devo .content {
	padding: 0;
}
.slide.devo iframe {
	width: 100%;
	height: 100%;
}
.slide.devo .mtv {
	position: absolute;
	left: 5em;
	bottom: 2em;
	font-size: 0.8em;
	pointer-events: none;
	text-shadow: 4px 4px black;
}

.slide.modal .content {
	padding: 0;
}

.slide.modal {
	background: black;
}

.slide.modal iframe {
	width: 51.4%;
	height: 90.5%;
	/* font-size: 16pt; */
	/* border-radius: 14em; */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 10px 10px #ea4600;
}

.slide.lzx {
	background: black;
}
.slide.lzx img {
	width: 16em;
	box-shadow: 10px 10px #ea4600;
}
.slide.lzx figure {
	text-align: center;
}
.slide.lzx figcaption {
	font-size: 0.5em;
}
.slide.lzx a {
	background: none;
	color: white;
}

.slide.modular {
	background: black url('./modular.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	/* animation: atari 30s infinite; */
}
.slide.modular h1 {
	background: black;
	display: inline-block;
	padding: 0.5em 1em 0.3em 1em;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	margin: 0;
	font-size: 2em;
	letter-spacing: 0.1em;
	border: 2px solid white;
	visibility: hidden;
}
@keyframes modular-h1-wiggle {
	0% {
		transform: translate(-50%, -50%) translate(0, 0);
	}
	25% {
		transform: translate(-50%, -50%) translate(-1%, 0);
	}
	50% {
		transform: translate(-50%, -50%) translate(0, 0);
	}
	75% {
		transform: translate(-50%, -50%) translate(1%, 0);
	}
	100% {
		transform: translate(-50%, -50%) translate(0, 0);
	}
}
.slide.modular.did-step-h1 h1 {
	visibility: visible;
	animation: modular-h1-wiggle 0.2s ease-in-out 3;
}

.slide.modular-2 .mtv {
	position: absolute;
	top: 1em;
	text-align: right;
	right: 1em;
	/* right: 0; */
	background: rgba(0, 0, 0, 0.7);
	font-size: 0.3em;
	padding: 1em;
	pointer-events: none;
}

.slide.modular-takeaway li,
.slide.modular-takeaway .step-3 {
	visibility: hidden;
}
.slide.modular-takeaway .step-3 {
	font-size: 2em;
}
.slide.modular-takeaway.did-step-1 .step-1,
.slide.modular-takeaway.did-step-2 .step-2,
.slide.modular-takeaway.did-step-3 .step-3 {
	visibility: visible;
}

.slide.digital-vis-white {
	background: black;
}
.slide.digital-vis-white .content {
	padding: 0;
}
.slide.digital-vis-white iframe {
	width: 100%;
	height: 100%;
}
.slide.digital-vis-white .mtv {
	position: absolute;
	left: 1em;
	bottom: 1em;
	font-size: 0.8em;
	pointer-events: none;
	text-shadow: 4px 4px black;
}

.slide.digital-vis-black {
	background: black;
}
.slide.digital-vis-black .content {
	padding: 0;
}
.slide.digital-vis-black iframe {
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 1s;
}
.slide.digital-vis-black .mtv {
	position: absolute;
	left: 1em;
	bottom: 1em;
	font-size: 0.8em;
	pointer-events: none;
	text-shadow: 4px 4px black;
	opacity: 1;
	transition: opacity 1s;
}
.slide.digital-vis-black .about {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) translate(0, 18em);
	padding: 0 1em;
	width: 68%;
	background: black;
	border: 5px solid white;
	transition: 0.2s transform;
	transition-delay: 1s;
	font-size: 1.5em;
}
.slide.digital-vis-black .about .step-2,
.slide.digital-vis-black .about .step-3 {
	visibility: hidden;
}
.slide.digital-vis-black.did-step-about-2 .step-2,
.slide.digital-vis-black.did-step-about-3 .step-3 {
	visibility: visible;
}
.slide.digital-vis-black.did-step-about iframe {
	pointer-events: none;
}
.slide.digital-vis-black.did-step-about .about {
	transform: translate(-50%, -50%);
}
.slide.digital-vis-black.did-step-about iframe,
.slide.digital-vis-black.did-step-about .mtv {
	opacity: 0.2;
}
.slide.digital-vis-black .hrmm {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -43%);
	font-size: 20em;
	visibility: hidden;
}
.slide.digital-vis-black.did-step-hrmm .hrmm {
	visibility: visible;
}

.slide.web-apis .api {
	visibility: hidden;
}
.slide.web-apis .library {
	visibility: hidden;
}
.slide.web-apis.did-step-show-libraries .library {
	visibility: visible;
}
.slide.web-apis.did-step-show-apis .api {
	visibility: visible;
}
.slide.web-apis li:nth-child(5) {
	font-size: 0.95em;
}
.slide.web-apis li:nth-child(6) {
	font-size: 0.9em;
}
.slide.web-apis li:nth-child(7) {
	font-size: 0.85em;
}
.slide.web-apis li:nth-child(8) {
	font-size: 0.8em;
}
.slide.web-apis li:nth-child(9) {
	font-size: 0.75em;
}
.slide.web-apis li:nth-child(10) {
	font-size: 0.7em;
}
.slide.web-apis li:nth-child(11) {
	font-size: 0.65em;
}
.slide.web-apis li:nth-child(12) {
	font-size: 0.6em;
}
.slide.web-apis li:nth-child(13) {
	font-size: 0.55em;
}
.slide.web-apis li:nth-child(14) {
	font-size: 0.5em;
}
.slide.web-apis li:nth-child(15) {
	font-size: 0.45em;
}
.slide.web-apis li:nth-child(16) {
	font-size: 0.4em;
}
.slide.web-apis li:nth-child(17) {
	font-size: 0.35em;
}
.slide.web-apis li:nth-child(18) {
	font-size: 0.3em;
}
.slide.web-apis li:nth-child(19) {
	font-size: 0.25em;
}

.slide.album-art-generator .content {
	transform: scale(1) !important;
	padding: 0;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background: black;
}
.slide.album-art-generator iframe {
	width: 100vw;
	height: 100vh;
	opacity: 1;
	transition: opacity 1s ease-in-out;
}
.slide.album-art-generator button {
	position: absolute;
	left: 50%;
	bottom: 1em;
	transform: translate(-50%, 0);
	font-size: 0.5em;
	font-family: 'League Spartan';
	border: none;
	border-radius: 1em;
	padding: 0 1em;
	padding-top: 0.25em;
	cursor: pointer;
	background: #ea4600;
	color: white;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
	transition: transform 0.2s ease-in-out, opacity 1s ease-in-out;
	opacity: 1;
}
.slide.album-art-generator button:hover {
	color: #ea4600;
	background: white;
	transform: translate(-50%, 0) scale(1.1);
}
.slide.album-art-generator .about {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) translate(0, 19em);
	padding: 0 1em;
	width: 57%;
	background: black;
	border: 5px solid white;
	transition: 0.2s transform;
	transition-delay: 1s;
}
.slide.album-art-generator.did-step-about .about {
	transform: translate(-50%, -50%);
}
.slide.album-art-generator.did-step-about iframe,
.slide.album-art-generator.did-step-about button {
	opacity: 0.2;
}
.slide.album-art-generator .about .step-2,
.slide.album-art-generator .about .step-3 {
	visibility: hidden;
}
.slide.album-art-generator.did-step-about-2 .step-2,
.slide.album-art-generator.did-step-about-3 .step-3 {
	visibility: visible;
}

.slide.midi-0 h1 {
	font-size: 14em;
	margin: 0;
	padding: 0;
	text-align: center;
	/* line-height: 2em; */
	transform: translate(0, 11%);
}

.slide.midi-1 .content {
	transition: filter 1s;
}
.slide.midi-1 img {
	width: 5em;
	position: absolute;
	transition: width 1s, left 1s, top 1s, right 1s, bottom 1s, transform 1s, filter 1s;
}

.slide.midi-1 .drums-speak {
	left: 9.75em;
	bottom: 9em;
	width: 4em;
}
.slide.midi-1 .synth {
	width: 14em;
	left: 10em;
	top: 1em;
}
.slide.midi-1 .synth-speak,
.slide.midi-1 .boss-speak,
.slide.midi-1 .akai-speak {
	opacity: 0;
}
.slide.midi-1 .synth {
	width: 20em;
	left: 8em;
	top: 8em;
}
.slide.midi-1 .osc {
	position: absolute;
	transition: width 1s, left 1s, top 1s, right 1s, bottom 1s, transform 1s;
	width: 18em;
	height: 11em;
}
.slide.midi-1 .osc .bg {
	background: white;
	position: absolute;
	left: 6em;
	top: 2em;
	width: 6em;
	height: 7em;
}
@keyframes midi-1-osc-sine {
	from {
		left: 342px;
	}
	to {
		left: 125px;
	}
}
.slide.midi-1 .osc .sine {
	width: 10em;
	top: 4.4em;
	left: 342px;
	animation: 1s midi-1-osc-sine infinite linear;
}
.slide.midi-1 .osc .bubble-cutout {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.slide.midi-1 .osc {
	left: 16em;
	top: 6em;
}
@keyframes drum-dance {
	0% {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(2%, -3%) rotate(2deg);
	}
	40% {
		transform: translate(0, 0);
	}
	60% {
		transform: translate(-2%, -3%) rotate(-2deg);
	}
	80% {
		transform: translate(0, 0%);
	}
	/* 70% {
		transform: translate(0, -5%);
	}
	80% {
		transform: translate(0, 0%);
	} */
}
/* @keyframes synth-bump {
	0% {
		transform: scale(1);
	}
	33% {
		transform: scale(1.05);
	}
	66% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(1);
	}
} */
@keyframes synth-bump {
	0% {
		filter: hue-rotate(0deg);
	}
	50% {
		filter: hue-rotate(180deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}
.slide.midi-1.step-synth-speak .synth {
	animation: 1s synth-bump infinite linear;
}
.slide.midi-1.did-step-synth-speak .osc {
	position: absolute;
	left: 21.5em;
	top: 0em;
}
.slide.midi-1.did-step-synth-and-boss .synth {
	transform: scale(0.5) translate(0, -200%);
}
.slide.midi-1.did-step-synth-and-boss .osc {
	transform: translate(0, -110%);
}
.slide.midi-1 .boss {
	width: 9em;
	left: -14em;
	bottom: 3em;
}
.slide.midi-1.did-step-synth-and-boss .boss {
	width: 12em;
	left: 12em;
	bottom: 1em;
}
.slide.midi-1 .drums-speak {
	opacity: 0;
}
.slide.midi-1.did-step-synth-and-boss .drums-speak {
	left: 19.75em;
	bottom: 5em;
	width: 4em;
}
.slide.midi-1.step-boss-speak .boss {
	animation: 1s drum-dance infinite;
}
.slide.midi-1.did-step-boss-speak .drums-speak {
	left: 24em;
	bottom: 9em;
	width: 4em;
	opacity: 1;
}
.slide.midi-1.did-step-all-three .drums-speak {
	bottom: 25em;
}
.slide.midi-1.did-step-all-three .boss {
	width: 9em;
	left: 1em;
	bottom: 2em;
}
.slide.midi-1 .akai {
	width: 9em;
	bottom: 1em;
	right: -12em;
}
.slide.midi-1.did-step-all-three .akai {
	width: 9em;
	bottom: 1em;
	right: 1em;
}
.slide.midi-1.did-step-all-three .synth {
	transform: scale(0.7) translate(0, -120%);
}
.slide.midi-1.did-step-all-three .boss-speak {
	left: 4.75em;
	bottom: 3em;
}
.slide.midi-1.did-step-language-boss .boss-speak {
	left: 10.5em;
	bottom: 6em;
	opacity: 1;
}
.slide.midi-1.did-step-all-three .synth-speak {
	left: 19.5em;
	top: 3em;
}
.slide.midi-1.did-step-language-synth .synth-speak {
	left: 25.5em;
	top: 1em;
	opacity: 1;
}
.slide.midi-1.did-step-all-three .akai-speak {
	right: 4.5em;
	bottom: 4.5em;
}
.slide.midi-1.did-step-language-akai .akai-speak {
	right: 10.5em;
	opacity: 1;
}
.slide.midi-1.did-step-sad .synth,
.slide.midi-1.did-step-sad .boss,
.slide.midi-1.did-step-sad .akai {
	filter: grayscale(100%);
}
.slide.midi-1.did-step-sad .synth-speak,
.slide.midi-1.did-step-sad .boss-speak,
.slide.midi-1.did-step-sad .akai-speak {
	filter: opacity(0);
}
.slide.midi-1 .midi-logo {
	left: 15.5em;
	bottom: -5em;
}
.slide.midi-1.did-step-midi .midi-logo {
	left: 15.5em;
	bottom: 5em;
	transform: scale(2);
}
.slide.midi-1.did-step-midi-boss .midi-logo {
	left: 3em;
	bottom: 3.5em;
}
.slide.midi-1.did-step-midi-synth .boss {
	filter: grayscale(0%);
}
.slide.midi-1.did-step-midi-synth .midi-logo {
	left: 15.5em;
	bottom: 13.25em;
}
.slide.midi-1.did-step-midi-akai .synth {
	filter: grayscale(0%);
}
.slide.midi-1.did-step-midi-akai .midi-logo {
	left: 28em;
	bottom: 3.75em;
}
.slide.slide.midi-1.did-step-connected .akai {
	filter: grayscale(0);
}
.slide.midi-1.did-step-connected .midi-logo {
	transform: scale(1);
	left: 15.5em;
	bottom: 5em;
}
.slide.midi-1.did-step-dance .synth {
	animation: 1s synth-bump infinite linear;
}
.slide.midi-1.did-step-dance .akai,
.slide.midi-1.did-step-dance .boss {
	animation: 1s drum-dance infinite;
}

.slide.midi-2 img {
	position: absolute;
	transition: width 1s, left 1s, top 1s, right 1s, bottom 1s, transform 1s, filter 1s;
}
.slide.midi-2 .synth,
.slide.midi-2 .key-down,
.slide.midi-2 .key-down-2 {
	width: 20em;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
}
.slide.midi-2 .key-down,
.slide.midi-2 .key-down-2 {
	visibility: hidden;
}
.slide.midi-2 .finger {
	width: 5em;
	left: 16.1em;
	bottom: -10em;
}
.slide.midi-2 .bubble {
	background-image: url('../slides/bubble.svg');
	width: 6em;
	height: 6em;
	background-repeat: no-repeat;
	color: #ea4600;
	/* font-family: 'Source Code Pro'; */
	font-weight: bold;
	position: absolute;
	left: 27.5em;
	top: 1em;
	visibility: hidden;
}
.slide.midi-2 .bubble .text {
	font-size: 0.7em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
.slide.midi-2 .bubble .text > span {
	display: block;
	text-align: center;
	margin-bottom: 0.2em;
}
.slide.midi-2 .bubble .note {
	font-size: 2em;
}
.slide.midi-2.did-step-finger .finger {
	bottom: 1em;
}
.slide.midi-2.did-step-hit-key-audio .finger {
	transition: none;
	transform: scale(0.9) translate(0.1em, 0);
}
.slide.midi-2.did-step-hit-key-audio .key-down {
	visibility: visible;
}
.slide.midi-2.did-step-hit-key-midi .bubble-1 {
	visibility: visible;
}
.slide.midi-2.did-step-remove-key .finger {
	transform: none;
}
.slide.midi-2.did-step-remove-key .key-down {
	visibility: hidden;
}
.slide.midi-2.did-step-remove-key .bubble-1 {
	visibility: hidden;
}
.slide.midi-2.did-step-move-finger .finger {
	left: 11.8em;
}
.slide.midi-2.did-step-hit-key-2 .finger {
	transition: none;
	transform: scale(0.9) translate(0.1em, 0);
}
.slide.midi-2.did-step-hit-key-2 .key-down-2 {
	visibility: visible;
}
.slide.midi-2.did-step-hit-key-2 .bubble-2 {
	visibility: visible;
}
.slide.midi-2 .osc {
	position: absolute;
	width: 18em;
	height: 11em;
}
.slide.midi-2 .osc .bg {
	background: white;
	position: absolute;
	left: 6em;
	top: 2em;
	width: 6em;
	height: 7em;
}
@keyframes midi-2-osc-sine {
	from {
		left: 342px;
	}
	to {
		left: 125px;
	}
}
.slide.midi-2 .osc .sine {
	width: 10em;
	top: 4.4em;
	left: 342px;
	animation: 1s midi-2-osc-sine infinite linear;
}
.slide.midi-2 .osc .bubble-cutout {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.slide.midi-2 .osc {
	visibility: hidden;
	top: 5em;
	left: 22em;
}
.slide.midi-2.step-hit-key-audio .osc,
.slide.midi-2.step-hit-key-midi .osc,
.slide.midi-2.step-hit-key-2 .osc {
	visibility: visible;
}
@keyframes midi-2-osc-sine-2 {
	from {
		left: 342px;
	}
	to {
		left: 16.5px;
	}
}
.slide.midi-2.step-hit-key-2 .osc .sine {
	transform: scale(1.5, 1);
	animation: 1s midi-2-osc-sine-2 infinite linear;
}

.slide.midi-3 table {
	background: white;
	color: black;
	border-radius: 0.25em;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	box-sizing: border-box;
}
.slide.midi-3 table th,
.slide.midi-3 table td {
	padding: 0.3em;
	border-right: 9px solid #eb4500;
}
.slide.midi-3 table th:last-child,
.slide.midi-3 table td:last-child {
	border-right: none;
}
.slide.midi-3 .head-2 th:first-child,
.slide.midi-3 .english td:first-child,
.slide.midi-3 .binary td:first-child {
	border-right: 9px solid #2f2f2f;
}
.slide.midi-3 .head-1 th:first-child {
}
.slide.midi-3 table .binary {
	font-family: 'Source Code Pro';
	font-size: 0.8em;
}
.slide.midi-3 .head-1 {
	background: #2f2f2f;
	color: white;
}
.slide.midi-3 .head-2 {
	background: #c3c3c3;
}
.slide.midi-3 .english {
	font-family: 'Source Code Pro';
	font-size: 0.8em;
	border-bottom: 4px solid #c3c3c3;
}
.slide.midi-3 .head-2,
.slide.midi-3 .english,
.slide.midi-3 .binary {
	opacity: 0;
}
.slide.midi-3.did-step-2 .head-2 {
	opacity: 1;
}
.slide.midi-3.did-step-3 .english {
	opacity: 1;
}
.slide.midi-3.did-step-4 .binary {
	opacity: 1;
}

.slide.midi-4 li {
	visibility: hidden;
}
.slide.midi-4.did-step-2 .msg-2,
.slide.midi-4.did-step-3 .msg-3,
.slide.midi-4.did-step-4 .msg-4,
.slide.midi-4.did-step-5 .msg-5,
.slide.midi-4.did-step-6 .msg-6,
.slide.midi-4.did-step-7 .msg-7,
.slide.midi-4.did-step-8 .msg-8 {
	visibility: visible;
}

.slide.web-component-2 .code {
	visibility: hidden;
}
.slide.web-component-2.did-step-html .html,
.slide.web-component-2.did-step-define .define,
.slide.web-component-2.did-step-class .class {
	visibility: visible;
}

.slide.web-component-problems h1 {
	margin-top: 0;
}
.slide.web-component-problems .hide {
	visibility: hidden;
}
.slide.web-component-problems .scroller {
	transition: transform 1s;
	transform: translate(0, 0);
	transform-origin: top center;
}
.slide.web-component-problems.did-step-problem-1 .item-1 {
	visibility: visible;
}
.slide.web-component-problems.did-step-solution-1 .solution-1 {
	visibility: visible;
}
.slide.web-component-problems.did-step-problem-2 .item-2 {
	visibility: visible;
}
.slide.web-component-problems.did-step-solution-2 .solution-2 {
	visibility: visible;
}
.slide.web-component-problems.did-step-problem-3 .scroller {
	transform: translate(0, -16.4em);
}
.slide.web-component-problems.did-step-problem-3 .item-3 {
	visibility: visible;
}
.slide.web-component-problems.did-step-solution-3 .solution-3 {
	visibility: visible;
}
.slide.web-component-problems.did-step-problem-4 .scroller {
	transform: translate(0, -35.8em);
}
.slide.web-component-problems.did-step-problem-4 .item-4 {
	visibility: visible;
}
.slide.web-component-problems.did-step-solution-4 .solution-4 {
	visibility: visible;
}
.slide.web-component-problems.did-step-problem-5 .item-5 {
	visibility: visible;
}
.slide.web-component-problems.did-step-solution-5 .solution-5 {
	visibility: visible;
}
.slide.web-component-problems .actually {
	visibility: hidden;
}
.slide.web-component-problems.did-step-solution-5b .shrug {
	text-decoration: line-through;
}
.slide.web-component-problems.did-step-solution-5b .actually {
	visibility: visible;
}
.slide.web-component-problems.did-step-overview .scroller {
	transform: translate(0, 0) scale(0.35);
}

.slide.what-would-i-change .hide {
	visibility: hidden;
}
.slide.what-would-i-change.did-step-1 .item-1,
.slide.what-would-i-change.did-step-2 .item-2,
.slide.what-would-i-change.did-step-3 .item-3,
.slide.what-would-i-change.did-step-4 .item-4,
.slide.what-would-i-change.did-step-5 .item-5 {
	visibility: visible;
}

.slide.final-lessons .hide {
	visibility: hidden;
}
.slide.final-lessons.did-step-1 .item-1,
.slide.final-lessons.did-step-2 .item-2,
.slide.final-lessons.did-step-3 .item-3,
.slide.final-lessons.did-step-4 .item-4,
.slide.final-lessons.did-step-5 .item-5 {
	visibility: visible;
}

.slide.eval blockquote {
	background: white;
	padding: 1em;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	color: black;
	font-family: 'Adobe Garamond Pro', serif;
	font-size: 1.4em;
}
.slide.eval .quote {
	margin-bottom: 0;
}
.slide.eval blockquote p {
	margin-top: 0;
}
.slide.eval footer {
	font-style: italic;
}
.slide.eval .addendum,
.slide.eval .addendum-2 {
	font-size: 0.8em;
}
.slide.eval .asterix,
.slide.eval .asterix-2,
.slide.eval .addendum,
.slide.eval .addendum-2,
.slide.eval .me {
	visibility: hidden;
}
.slide.eval .his-quote {
	transition: filter 0.2s;
	transition-delay: 0.2s;
	margin-top: 3.4em;
}
.slide.eval .my-quote {
	position: absolute;
	transition: top 0.4s, left 0.4s, transform 0.4s;
	left: 1.5em;
	width: 19.75em;
	top: 17em;
	transform: rotate(2deg) scale(1.3);
}
.slide.eval.did-step-asterix .asterix {
	visibility: visible;
}
.slide.eval.did-step-me .addendum {
	visibility: visible;
	background: yellow;
}
.slide.eval.did-step-me .crockford {
	text-decoration: line-through;
}
.slide.eval.did-step-me .me {
	visibility: visible;
}
.slide.eval.did-step-me-2 .my-quote {
	top: 4.15em;
	transform: translate(0, 0) rotate(-2deg) scale(1.1);
}
.slide.eval.did-step-me-2 .his-quote {
	filter: brightness(50%);
}

.slide.vid-kid-screenshot {
	background: black;
}
.slide.vid-kid-screenshot .content {
	padding: 0;
	text-align: center;
}
.slide.vid-kid-screenshot .box {
	position: absolute;
	left: 37em;
	top: 4.7em;
	width: 8.2em;
	height: 5.7em;
	font-size: 0.7em;
	border: 6px solid #eb4500;
	visibility: hidden;
	transition: left 0.2s, top 0.2s, width 0.2s, height 0.2s;
}
.slide.vid-kid-screenshot .box-2b,
.slide.vid-kid-screenshot .box-2c {
	opacity: 0.5;
}
.slide.vid-kid-screenshot.did-step-1 .box {
	visibility: visible;
}

.slide.vid-kid-screenshot.did-step-2 .box {
	left: 19.9em;
	top: 10.1em;
	width: 8.1em;
	height: 13.5em;
}
.slide.vid-kid-screenshot.did-step-2 .box-2b {
	left: 8.9em;
	top: 8.2em;
	width: 8.1em;
	height: 8.9em;
}
.slide.vid-kid-screenshot.did-step-2 .box-2c {
	left: 29.7em;
	top: 12.8em;
	width: 8.1em;
	height: 7.1em;
}

.slide.vid-kid-screenshot.did-step-3 .box {
	left: 19.9em;
	top: 10.9em;
	width: 5.1em;
	height: 6.2em;
}

.slide.vid-kid-screenshot.did-step-4 .box {
	left: 25.2em;
	top: 10.9em;
	width: 2.8em;
	height: 6.2em;
}

.slide.vid-kid-screenshot.did-step-5 .box {
	left: 19.9em;
	top: 17.3em;
	width: 8.1em;
	height: 6.3em;
}

.slide.vid-kid-screenshot.did-step-6 .box {
	left: 19.9em;
	top: 14.1em;
	width: 5.1em;
	height: 1.5em;
}

.slide.vid-kid-screenshot.did-step-7 .box {
	left: 27.3em;
	top: 10.9em;
	width: 3em;
	height: 8em;
}
.slide.vid-kid-screenshot.did-step-7 .box-2b {
	left: 16.5em;
	top: 9.2em;
	width: 4em;
	height: 3em;
	opacity: 1;
}

.slide.vid-kid-explainer {
	background: black;
}
.slide.vid-kid-explainer svg {
	margin-top: 0.5em;
}
.slide.vid-kid-explainer .content {
	padding: 0;
	text-align: center;
}
.slide.vid-kid-explainer .step {
	visibility: hidden;
}
.slide.vid-kid-explainer.did-step-1 .node-js,
.slide.vid-kid-explainer.did-step-2 .node-js-bits,
.slide.vid-kid-explainer.did-step-3 .to-eval-arrow,
.slide.vid-kid-explainer.did-step-4 .eval,
.slide.vid-kid-explainer.did-step-5 .to-my-node-arrow,
.slide.vid-kid-explainer.did-step-6 .my-node,
.slide.vid-kid-explainer.did-step-7 .node-css,
.slide.vid-kid-explainer.did-step-8 .node-html,
.slide.vid-kid-explainer.did-step-9 .to-shadow-root-arrow,
.slide.vid-kid-explainer.did-step-10 .shadow-root,
.slide.vid-kid-explainer.did-step-11 .to-web-component-arrow,
.slide.vid-kid-explainer.did-step-12 .web-component,
.slide.vid-kid-explainer.did-step-13 .react-bg,
.slide.vid-kid-explainer.did-step-14 .react-nodes,
.slide.vid-kid-explainer.did-step-15 .state,
.slide.vid-kid-explainer.did-step-16 .screen-bg,
.slide.vid-kid-explainer.did-step-17 .screen-html,
.slide.vid-kid-explainer.did-step-18 .screen-css,
.slide.vid-kid-explainer.did-step-19 .screen-arrow,
.slide.vid-kid-explainer.did-step-20 .iframe {
	visibility: visible;
}

/* common classes: */

.slide.demo {
	background: black;
}

.slide.demo .content {
	transform: none !important;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.slide.demo iframe {
	width: 100vw;
	height: 100vh;
	border: none;
}

.slide.eval-how-to h1 {
	margin-top: 0;
}
.slide.eval-how-to li {
	display: none;
}
.slide.eval-how-to.did-step-eval .eval,
.slide.eval-how-to.did-step-function .function {
	display: list-item;
}

.slide.original-idea li {
	visibility: hidden;
}
.slide.original-idea.did-step-1 .step-1,
.slide.original-idea.did-step-2 .step-2,
.slide.original-idea.did-step-3 .step-3,
.slide.original-idea.did-step-4 .step-4,
.slide.original-idea.did-step-5 .step-5,
.slide.original-idea.did-step-6 .step-6,
.slide.original-idea.did-step-7 .step-7,
.slide.original-idea.did-step-8 .step-8 {
	visibility: visible;
}

.slide.prior-art ul {
	margin-top: 3em;
}
